@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);

$font-stack:    "Raleway", sans-serif;
$font-alterantive:    "Oswald", sans-serif;
$font-icons:    "FontAwesome";